<app-header page_title="Gallery"></app-header>

<ion-content padding>
  <app-page-tabs></app-page-tabs>

  <ion-button size="small" expand="full" fill="clear" (click)="addImagePage()" *ngIf="users.hasRole('gallery')">
    Add a new image to the gallery
  </ion-button>

  <ion-row>

    <ion-col size="12" size-sm="6" size-md="4" size-lg="2" *ngFor="let image of media.gallery">

      <img [src]="image['link']" (click)="viewImage(image['path'],image['link'],image['caption'],image['feature'])">

    </ion-col>

  </ion-row>

</ion-content>