
@media(min-width: 0px){
    .DirTitle{
        padding-top: 2%;
        font-size: 1.2rem;
        text-align: center;
    }
}

@media(min-width: 640px){
    .DirTitle{
        padding-top: 2%;
        font-size: 3rem;
        text-align: center;
    }
}
