ion-card{
    --background: var(--color-dark-back);
    --color: var(--ion-color-light);
    ion-avatar{
        width: 100%;
        height: auto;
    }
    @media(min-width: 0px){
        width: 70%;
        left: 15%;
        ion-card-title{
            color: var(--ion-color-light);
            text-align: center;
            font-size: 1.2rem;
        }
        ion-card-subtitle{
            color: var(--ion-color-light);
            text-align: center;
            font-size: 1rem;
        }
    }
    @media(min-width: 640px){
        width: 30%;
        left: 35%;
        ion-card-title{
            color: var(--ion-color-light);
            text-align: center;
            font-size: 3rem;
        }
        ion-card-subtitle{
            color: var(--ion-color-light);
            text-align: center;
            font-size: 2rem;
        }
    }
}