<app-header page_title="Contact Us"></app-header>

<ion-content padding>

  Hello!
  
  <!--Church's contact info-->
  <!--
  <h2 style="text-align: center">
    <br>Church Phone: {{db.appDoc['phone']}}<br>
    Church Email: {{db.appDoc['email']}}<br><br>
  </h2>
-->

  <!--Member contact directory here-->
  <!--
  <ion-list>
-->

    <!--Directory header-->
    <!--
    <div class="directory_header">
      <ion-list-header style="font-size: 3rem">Member Directory</ion-list-header>
    </div>
-->

    <!--Directory entries-->
    <!--
    <ion-item *ngFor="let item of db.directory">
      <div class="directory_format">
        <img src="{{item.photoURL}}">
      </div>
      <div class="directory_name">{{item.displayName}}</div>
      <div class="directory_format">
        Phone #: {{item.phone}}
      </div>
      <div class="directory_format">
        Email: {{item.email}}
      </div>
    </ion-item>
  </ion-list>
-->

</ion-content>