ion-title{
    font-size: 2rem;
    color: var(--ion-color-light);
    text-align: center;
}
.Mission{
    text-align: center;
    font-size: 1.2rem;
}
.Belief{
    text-align: center;
    font-size: 1rem;
    padding-top: .5%;
}