<app-header page_title="About Us"></app-header>

<ion-content padding>
  <app-page-tabs></app-page-tabs>

  <!-- I'm not making separate components for all of this because
      this is pretty well all this page will be used for... -->

  <ion-title>
    <br>
    Mission Statement
  </ion-title>
  <div class="Mission" *ngIf="info.info != null">
    {{info.info['mission']}}
  </div>

  <br>
  <!--Beliefs List-->
  <ion-title>
    Our Beliefs
  </ion-title>
  <ion-item-divider></ion-item-divider>

  <div *ngIf="beliefs.beliefs != null">
    <div class="Belief" *ngFor="let belief of beliefs.beliefs">
      {{belief['statement']}}
      <br>
      {{belief['scripture']}}.
      <br>
      <ion-button fill="clear" color="danger" (click)="delete(belief['statement'], belief['scripture'])"
        *ngIf="users.hasRole('beliefs')">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-item-divider></ion-item-divider>
    </div>
  </div>

  <ion-button size="small" expand="full" fill="clear" (click)="addBeliefPage()" *ngIf="users.hasRole('beliefs')">
    Add a new belief to this list
  </ion-button>

</ion-content>