<app-header page_title="Locate Us"></app-header>

<ion-content padding>
  <app-page-tabs></app-page-tabs>

  <iframe class="MyMap" [src]="mapURL | safe" allowfullscreen></iframe>

  <div *ngIf="navs.navs != null">

    <div *ngFor="let loc of navs.navs">

      <ion-button size="large" expand="block" (click)="mapFrom(loc['lat'], loc['lon'])">
        Directions from {{loc['name']}}
      </ion-button>

      <ion-button fill="clear" color="danger" size="large" expand="block" (click)="delete(loc['lat'], loc['lon'])">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>

    </div>

  </div>

  <ion-button size="large" expand="block" (click)="mapReset()">
    I don't need directions (Reset to original map)
  </ion-button>

  <ion-button size="small" expand="full" fill="clear" (click)="addMapPage()">
    Add a new map to this list
  </ion-button>

</ion-content>