<app-header page_title="Recordings"></app-header>

<ion-content padding>
  <app-page-tabs></app-page-tabs>

  <ion-button size="small" expand="full" fill="clear" (click)="addRecordPage()" *ngIf="users.hasRole('recordings')">
    Add a new recording to this page
  </ion-button>

  <ion-row>

    <ion-col size="12" size-sm="6" size-md="4" size-lg="2" *ngFor="let record of media.records">

      <app-record-card [record_info]="record"></app-record-card>

    </ion-col>

  </ion-row>

</ion-content>