ion-content{
    text-align: center;
}

img{
    max-height: 75%!important;
    max-width: 95%;
}

ion-text{
    text-align: center;
    word-wrap: break-word;
    @media(min-width: 640px){
        font-size: 2rem;
    }
}
